streamlit
psycopg2-binary
PyJWT
bcrypt
python-dotenv
email-validator
requests
langdetect
ftfy
emoji
deep-translator
vaderSentiment
spacy
pandas
matplotlib
transformers
accelerate
torch
stopwordsiso
bleach
deepface
opencv-python-headless
fastapi
uvicorn[standard]
python-multipart
